.list-item {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.list-item .lorem-5 {
  color: #ffffff;
  font-family: "Work Sans", Helvetica;
  font-size: 24px;
  letter-spacing: -0.26px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.list-item .state-1-inactive {
  font-weight: 400;
}

.list-item .state-1-inactive:hover {
  cursor: pointer;
}

.list-item .state-1-active {
  font-weight: 600;
  text-decoration: underline;
}
